/* Header */

.navbar {
    background-color: transparent;
    color: #fff;
    position: absolute;
    z-index: 100;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}



/* Hero */

.hero {
    background-image: url(/images/phatt-logo-color.png);
    background-color: #000;
    height: 100vh;
    background-attachment: fixed;
    background-size: 48%;
    background-repeat: no-repeat;
    background-position: center;
}

.hero .flex {
    flex-flow: column;
    justify-content: flex-end;
}

/* Music */

.music {
    background-image: url(/images/phatt-logo-faded.png);
    background-attachment: fixed;
    background-size: 48%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}


.music .flex {
    flex-direction: column;
    
}

/* Live */
.live {
    background-color: #999;
    background-image: url(/images/Screen\ Shot\ 2019-10-29\ at\ 10.18.19\ AM.png);
    color: white;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;

}