/* Header */

.header {
    background-color: transparent;
    color: #fff;
    position: absolute;
    z-index: 100;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}

.header .container {
    width: 90%;
}

.header .flex {
    justify-content: space-between;
}


.navbar li {
    text-transform: uppercase;
    font-weight: 500;
    padding-right: 1em;
}

.navbar .social li {
    padding-right: .75em;
}

.navbar a:hover {
    color: var(--primary-color);
}





/* Hero */

.hero {
    background-image: url(/images/phatt-logo-color.png);
    background-color: #000;
    height: 100vh;
    background-attachment: fixed;
    background-size: 48%;
    background-repeat: no-repeat;
    background-position: center;
}

.hero .flex {
    flex-flow: column;
    justify-content: flex-end;
}

/* Music */

.music {
    background-image: url(/images/phatt-logo-faded.png);
    background-attachment: fixed;
    background-size: 48%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}


.music .flex {
    flex-direction: column;
    
}

/* Live */
.live {
    background-color: #999;
    background-image: url(/images/Screen\ Shot\ 2019-10-29\ at\ 10.18.19\ AM.png);
    color: white;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;

}