/* Header */

.header {
    background-color: transparent;
    color: #fff;
    position: absolute;
    z-index: 100;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}

.header .container {
    width: 90%;
}

.header .flex {
    justify-content: space-between;
}


.navbar li {
    text-transform: uppercase;
    font-weight: 500;
    padding-right: .75em;
}

.navbar .social li {
    padding-right: .75em;
}

.navbar a:hover {
    color: var(--primary-color);
}





/* Hero */

.hero {
    background-image: url(/images/phatt-logo-color.png);
    background-color: #000;
    height: 100vh;
    background-attachment: fixed;
    background-size: 48%;
    background-repeat: no-repeat;
    background-position: center;
}

.spotify {
   margin: 2em;
   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.hero .flex {
    flex-flow: column;
    justify-content: flex-end;
}



/* Music */

.music {
    background-image: url(/images/phatt-logo-faded.png);
    background-attachment: fixed;
    background-size: 48%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}


.music .flex {
    flex-direction: column;
    
}

/* Live */
.live {
    background-color: #999;
    background-image: url(/images/Screen\ Shot\ 2019-10-29\ at\ 10.18.19\ AM.png);
    color: white;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;

}

.live .bit-widget-container {
    width: 100%;
    padding-top: 5em;
}

.live .flex {
    flex-direction: column;
}


/* About */
.about {
    background-color: rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to left top, #bf920b, #cb801e, #d26d30, #d35c42, #ce4e53, #ca495a, #c44561, #be4268, #be4268, #be4268, #be4268, #be4268);
    height: 100vh;
    background-blend-mode: multiply;
}

.about .card {
    background-color: rgba(255, 255, 255, .6);
    border-radius: 1px;
    padding: 5%;
    margin: 10%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.about .card a { 
    color: var(--text-color);
}
.about .card a:hover { 
    color: white;
}

.about .card .btn {
    background-color: transparent;
    border: 1px solid var(--text-color);
}

.about .card .btn:hover {
    background-color: var(--text-color);
}


/* Media */
.media {
    background-image: url(/images/phatt-logo-faded.png);
    background-attachment: fixed;
    background-size: 48%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}


/* Contact */
.contact {
    background-color: #000;
    color: #fff;
    height: 100vh;
}

.contact-form {
    width: 75%;
}
.contact-form .form-control {
    margin: 1em 0;
}

.form-control input[type="text"],
.form-control input[type="email"],
.form-control textarea {
    border: none;
    border-radius: 1px;
    width: 100%;
    padding: .5em;
}

.form-control input, .form-control textarea:focus {
    outline: none;
}



.contact .flex {
    flex-direction: column;
}







/* Footer */
.footer {
    background-color: #000;
    color: #fff;
}

.footer .logo {
    max-width: 100px;
}

.footer .social li {
    padding-right: .75em;
}

.footer a:hover {
    color: var(--primary-color);
}

.footer .grid-3 {
    justify-items: center;
}


/* Tablets & Smaller */
@media(max-width: 748px) {
    .hero, .music, .media {
        background-size: contain;
    }

    .spotify {
        width: 100%;
    }

    .live .bit-widget-container {
        width: auto;
    }

    .about .card {
        margin: 1%;
    }
}